name: ci

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-x86_64-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: CI
        run: |
          nix flake check --print-build-logs
          # non-flake build
          nix-build
          # make sure the development shell is working
          nix develop --command "pytest"
          nix-shell --run "pytest"

  build-aarch64-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-conf: |
            extra-platforms = aarch64-linux

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Install QEMU
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get update -q -y
          sudo apt-get install -q -y qemu-system-aarch64 binfmt-support qemu-user-static

      - name: CI
        run: |
          # already running linters in x86_64 already, no need to rerun them here
          nix build --print-build-logs --option system aarch64-linux
          # non-flake build
          nix-build --option system aarch64-linux

  it-x86_64-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Integration tests
        run: |
         nix build '.#integration-tests.x86_64-linux.it' --print-build-logs --option sandbox false
